/Command-Line Tool/ConfigExplorer-CSharp/bin/* 
/Command-Line Tool/ConfigExplorer-CSharp/obj/*
/Multi-platform Apps/ConfigMauiExplorer/ConfigMauiExplorer/bin/*
/Multi-platform Apps/ConfigMauiExplorer/ConfigMauiExplorer/obj/*
/Multi-platform Apps/ConfigMauiExplorer/ConfigMauiExplorer/.idea/*
.DS_Store
